#*
 * Copyright (C) 2003-2012 David E. Berry
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA
 *
 * A copy of the GNU Lesser General Public License may also be found at
 * http://www.gnu.org/licenses/lgpl.txt
 *#
 -----
 CPO - ${currentVersion}
 -----
 Architecture Team
 -----
 November 2008

Home - CPO ${currentVersion}

* What is CPO?

  {{{about.html}About CPO}}

* Where are the cpo maven repositories?

  Right here on sourceforge!

  Snapshots: http://cpo.sourceforge.net/sf-cpo-snapshots

  Releases: http://cpo.sourceforge.net/sf-cpo-releases

* Example Usage Information

  Please review the test case source code from the navigation on the left in order to review how to use CPO.

* News

  * CPO Artifacts Uploaded to Sourceforge - 11/24/08

    The current and passed CPO release artifacts have been placed in the download section on Sourceforge.

  * CPO 2.0 is available on sourceforge.net - 26/05/06 14:08

    Source Code for API and Utility available for download.
