<!--
  [[
  jdbc
  ==
  Copyright (C) 2003 - 2025 David E. Berry
  ==
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Lesser General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Lesser Public License for more details.
  
  You should have received a copy of the GNU General Lesser Public
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/lgpl-3.0.html>.
  ]]
  -->
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="${mariadb.type} Jdbc Test Suite" verbose="2">
    <parameter name="db.type" value="${mariadb.type}"/>
    <parameter name="db.database" value="${mariadb.database}"/>
    <parameter name="db.port" value="${mariadb.port}"/>
    <parameter name="db.user" value="${mariadb.user}"/>
    <parameter name="db.pswd" value="${mariadb.pswd}"/>
    <parameter name="db.initScript" value="${mariadb.initScript}"/>
    <parameter name="db.cpoConfig" value="${mariadb.cpoConfig}"/>
    <parameter name="db.url" value="${mariadb.url}"/>
    <parameter name="db.image" value="${mariadb.image}"/>
    <parameter name="db.blobsupport" value="${mariadb.blobsupport}"/>
    <parameter name="db.callsupport" value="${mariadb.callsupport}"/>
    <parameter name="db.select4update" value="${mariadb.select4update}"/>
    <parameter name="db.millisupport" value="${mariadb.millisupport}"/>
    <parameter name="db.xasupport" value="${mariadb.xasupport}"/>
    <listeners>
        <listener class-name="org.synchronoss.cpo.jdbc.JdbcSuiteListener"/>
    </listeners>
    <test name="${mariadb.type} Jdbc Tests" verbose="2">
        <packages>
            <package name="org.synchronoss.cpo.jdbc.*" />
        </packages>
<!--        <classes>-->
<!--            <class name="org.synchronoss.cpo.jdbc.BigBatchTest"> &lt;!&ndash; Target the specific class &ndash;&gt;-->
<!--                <methods>-->
<!--                    <exclude name=".*" /> &lt;!&ndash; Exclude all methods within this class &ndash;&gt;-->
<!--                </methods>-->
<!--            </class>-->
<!--        </classes>-->
    </test>
</suite>
