<!--
  #%L
  jdbc
  %%
  Copyright (C) 2003 - 2025 David E. Berry
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Lesser General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Lesser Public License for more details.
  
  You should have received a copy of the GNU General Lesser Public
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/lgpl-3.0.html>.
  #L%
  -->
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="${oracle.type} Jdbc Test Suite" verbose="2">
    <parameter name="db.type" value="${oracle.type}"/>
    <parameter name="db.database" value="${oracle.database}"/>
    <parameter name="db.port" value="${oracle.port}"/>
    <parameter name="db.user" value="${oracle.user}"/>
    <parameter name="db.pswd" value="${oracle.pswd}"/>
    <parameter name="db.initScript" value="${oracle.initScript}"/>
    <parameter name="db.cpoConfig" value="${oracle.cpoConfig}"/>
    <parameter name="db.url" value="${oracle.url}"/>
    <parameter name="db.image" value="${oracle.image}"/>
    <parameter name="db.blobsupport" value="${oracle.blobsupport}"/>
    <parameter name="db.callsupport" value="${oracle.callsupport}"/>
    <parameter name="db.select4update" value="${oracle.select4update}"/>
    <parameter name="db.millisupport" value="${oracle.millisupport}"/>
    <parameter name="db.xasupport" value="${oracle.xasupport}"/>
    <listeners>
        <listener class-name="org.synchronoss.cpo.jdbc.JdbcSuiteListener"/>
    </listeners>
    <test name="${oracle.type} Jdbc Tests" verbose="2">
        <packages>
            <package name="org.synchronoss.cpo.jdbc.*" />
        </packages>
        <classes>
            <class name="org.synchronoss.cpo.jdbc.BigBatchTest"> <!-- Target the specific class -->
                <methods>
                    <exclude name=".*" /> <!-- Exclude all methods within this class -->
                </methods>
            </class>
        </classes>
    </test>
</suite>
