<!--
  [[
  cassandra
  ==
  Copyright (C) 2003 - 2025 David E. Berry
  ==
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Lesser General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Lesser Public License for more details.
  
  You should have received a copy of the GNU General Lesser Public
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/lgpl-3.0.html>.
  ]]
  -->
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Cassandra Test Suite" verbose="2">
    <parameter name="cassandra.initScript" value="${cassandra.initScript}"/>
    <parameter name="cassandra.cpoConfig" value="${cassandra.cpoConfig}"/>
    <parameter name="cassandra.image" value="${cassandra.image}"/>
    <parameter name="cassandra.contactPoint" value="${cassandra.contactPoint}"/>
    <parameter name="cassandra.keyspace" value="${cassandra.keyspace}"/>
    <parameter name="cassandra.metaXml" value="${cassandra.metaXml}"/>
    <parameter name="cassandra.nativeport" value="${cassandra.nativeport}"/>
    <parameter name="cassandra.storageport" value="${cassandra.storageport}"/>
    <parameter name="cassandra.sslstorageport" value="${cassandra.sslstorageport}"/>
    <parameter name="cassandra.rpcport" value="${cassandra.rpcport}"/>
    <listeners>
        <listener class-name="org.synchronoss.cpo.cassandra.CassandraSuiteListener"/>
    </listeners>
    <test name="Cassandra Tests" verbose="2">
        <packages>
            <package name="org.synchronoss.cpo.cassandra.*" />
        </packages>
    </test>
</suite>
