<!--
  [[
  cassandra
  ==
  Copyright (C) 2003 - 2025 David E. Berry
  ==
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Lesser General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Lesser Public License for more details.
  
  You should have received a copy of the GNU General Lesser Public
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/lgpl-3.0.html>.
  ]]
  -->
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Cassandra Test Suite" verbose="2">
    <parameter name="cassandra.initScript" value="${cassandra.initScript}"/>
    <parameter name="cassandra.cpoConfig" value="${cassandra.cpoConfig}"/>
    <parameter name="cassandra.image" value="${cassandra.image}"/>
    <parameter name="cassandra.contactPoint" value="${cassandra.contactPoint}"/>
    <parameter name="cassandra.keyspace" value="${cassandra.keyspace}"/>
    <parameter name="cassandra.metaXml" value="${cassandra.metaXml}"/>
    <parameter name="cassandra.nativeport" value="${cassandra.nativeport}"/>
    <parameter name="cassandra.storageport" value="${cassandra.storageport}"/>
    <parameter name="cassandra.sslstorageport" value="${cassandra.sslstorageport}"/>
    <parameter name="cassandra.rpcport" value="${cassandra.rpcport}"/>
    <listeners>
        <listener class-name="org.synchronoss.cpo.cassandra.CassandraSuiteListener"/>
    </listeners>
    <!--
      Test classes are listed explicitly (instead of a package wildcard) so the
      shared-state mutators below can be kept out of the parallel run. A new test
      class must be added to one of the two lists or it will not be run.
      -->
    <test name="Cassandra Parallel Tests" verbose="2" parallel="classes" thread-count="4">
        <classes>
            <class name="org.synchronoss.cpo.cassandra.AdapterDelegationTest"/>
            <class name="org.synchronoss.cpo.cassandra.BlobTest"/>
            <class name="org.synchronoss.cpo.cassandra.ClusterDataSourceInfoTest"/>
            <class name="org.synchronoss.cpo.cassandra.CollectionsTest"/>
            <class name="org.synchronoss.cpo.cassandra.ConstructorTest"/>
            <class name="org.synchronoss.cpo.cassandra.DeleteObjectTest"/>
            <class name="org.synchronoss.cpo.cassandra.EntityTest"/>
            <class name="org.synchronoss.cpo.cassandra.ExistObjectTest"/>
            <class name="org.synchronoss.cpo.cassandra.InheritanceTest"/>
            <class name="org.synchronoss.cpo.cassandra.InsertObjectTest"/>
            <class name="org.synchronoss.cpo.cassandra.InvalidParameterTest"/>
            <class name="org.synchronoss.cpo.cassandra.NativeExpressionTest"/>
            <class name="org.synchronoss.cpo.cassandra.OrderByTest"/>
            <class name="org.synchronoss.cpo.cassandra.UpdateObjectTest"/>
            <class name="org.synchronoss.cpo.cassandra.WhereTest"/>
            <class name="org.synchronoss.cpo.cassandra.XmlValidationTest"/>
            <class name="org.synchronoss.cpo.cassandra.config.CassandraCpoConfigProcessorTest"/>
            <class name="org.synchronoss.cpo.cassandra.config.ConfigFactoryTest"/>
        </classes>
    </test>
    <!--
      These classes mutate state shared across test classes (the global meta
      descriptor, or the cached adapter's fetch size) and must run
      single-threaded, after the parallel block.
      -->
    <test name="Cassandra Serialized Tests" verbose="2">
        <classes>
            <class name="org.synchronoss.cpo.cassandra.HotDeployTest"/>
            <class name="org.synchronoss.cpo.cassandra.RetrieveBeanTest"/>
            <class name="org.synchronoss.cpo.cassandra.exporter.CassandraMetaExportTest"/>
        </classes>
    </test>
</suite>
